body {
    transition: background-image 0.5s ease-in-out;
    background-image: url('./img/background.jpg'); 
    background-size: cover;
    background-attachment: scroll;
    background-position: center top;
}
div{
    margin-bottom: 2vw;
    font-size: 3vw;
    color: #004080;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 4vw;
    margin-top: 10vw;
    color: #000;
}
form {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 3vw;
    display: block;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
div.form-group label {
    margin-bottom: 2vw;
    font-size: 3vw;
    color: #004080;
}
div.form-group input {
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 1vw;
    font-size: 3vw;
    border-radius: 1vw;
    border: 1px solid black;
}
button {
    display: block;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    border-radius: 1vw;
    border: 1px solid black;
    background-color: #004080;
    color: white;
}
.error {
    display: none;
    color: red;
    font-size: 2vw;
    margin-bottom: 3vw;
}
#notice{
    color: #000;
    font-size: 2vw;
}